<!doctype html>
<html lang="th">
  <head>
    {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;700&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="{{ url_for ('static', filename='dist/css/styles.css') }}"
      />
      <title>{% block title %}{% endblock %} - Protein Calculator</title>
    {% endblock %}
  </head>
  <body class="flex h-full min-h-[100dvh] flex-col items-center font-sans">
    <main class="relative h-full min-h-[100dvh] w-full max-w-lg flex-grow">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
