{% extends "base.html" %}
{% block title %}Calculate{% endblock %}

{% block content %}
  <header class="relative">
    <img
      src="{{ url_for('static', filename='images/home.webp') }}"
      class="h-[250px] min-w-full rounded-b-2xl object-cover"
    />
    <div
      class="absolute bottom-0 left-0 z-10 h-[120px] w-full rounded-b-2xl bg-gradient-to-b from-transparent to-primary-700"
    ></div>
    <div class="absolute bottom-0 left-0 z-20 space-y-1.5 p-4 text-white">
      <h1 class="text-4xl font-bold text-white drop-shadow-lg">กรอกข้อมูล</h1>
      <p class="text-primary-100">กรอกข้อมูลเพื่อใช้ในการคำนวน!</p>
    </div>
  </header>
  <form
    action="/result"
    class="flex flex-col space-y-3 px-4 py-6"
    enctype="multipart/form-data"
    method="post"
  >
    <label for="name">ชื่อ</label>
    <input type="text" name="name" id="name" required />
    <label for="weight">น้ำหนัก (กก.)</label>
    <input type="number" name="weight" id="weight" required />
    <label for="age">อายุ (ปี)</label>
    <input type="number" name="age" id="age" required />
    <label for="disease">โรคที่แพ้ (ถ้ามี)</label>
    <input type="text" name="disease" id="disease" />
    <label for="activity">ประเภทกิจกรรม</label>
    <select name="activity" id="activity">
      <option value="ทั่วไป">ทั่วไป</option>
      <option value="ออกกำลังกาย">ออกกำลังกาย</option>
      <option value="นักเพาะกาย">นักเพาะกาย</option>
      <option value="ลดน้ำหนัก">ลดน้ำหนัก</option>
    </select>
    <label for="allergy">อาหารที่แพ้ (ถ้ามี)</label>
    <input type="text" name="allergy" id="allergy" />
    <div class="flex justify-end py-2">
      <button class="btn-primary px-6 py-3 font-bold" type="submit">
        Calculate
      </button>
    </div>
  </form>
{% endblock %}
